@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Public Sans", sans-serif;

  --color-primary: #18b9c4;
  --color-secondary: #e0e0e0;
}

.disabled {
  cursor: not-allowed;
  color: gray;
}

.router-link-active {
  color: var(--color-primary);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}
